.journey-card-title {
    display: flex;
    align-items: center;
    gap: 0rem 1rem;
    margin-bottom: 0.5em;
}

.journey-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0rem 1rem;
}